{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% tailwind_css %}
    <link rel="stylesheet" href={% static "css/base.css"%}>

    <title>{% block title %}Default Title{% endblock title %}</title>
    {% comment %} To enable dark mode {% endcomment %}
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark')
      }
    </script>
</head>
<body class="dark:bg-gray-900 dark:text-white">
  <div class="container mx-auto text-center">
    {% include 'includes/nav.html' %}
    {% include 'includes/messages.html' %}

    {% block content %}{% endblock content %}
  </div>

  <!-- HTMX CDN -->
  <script src="https://unpkg.com/htmx.org@1.1.0"></script> 

  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'node_modules/flowbite/dist/flowbite.js' %}"></script>
</body>
</html>