{% extends 'base.html' %}
{% load tailwind_filters %}

{% block title %}Log out{% endblock %}


{% block content %}
<h1 class="text-2xl mt-20 mb-4">Sign Out</h1>

<p class="text-lg my-3 bg-red-50 border border-red-200 rounded-md w-[50%] mx-auto dark:text-gray-800 dark:bg-red-50">Are you sure you want to sign out?</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900" type="submit">Sign Out</button>
</form>

{% endblock content %}